# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytest_cache/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# IDEs / Editors
.vscode/
.idea/
*.swp
.DS_Store

# Environment variables
.env
.env.*

# Temporary audio files
temp_audio.*